.sidebar {
  position: fixed;
  left: 30px;
  top: 30px;

  &--list {
    margin-top: 12px;
    border-radius: 4px;
    background-color: #333333;
    padding: 8px 0;
    max-height: 80vh;
    overflow-y: overlay;
  }

  &--item {
    display: block;
    padding: 8px 10px;
    color: #fff;

    &:hover {
      background-color: #414141;
    }
  }

  &--home {
    background-color: #333333;
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 14px;
    border-radius: 4px;
  }
}
.search {
  border-radius: 4px;
  background-color: #333333;
  color: #fff;
  display: flex;
  align-items: center;

  &--left, &--input {
    width: 250px;
    color: #fff;
    font-size: 14px;
    padding: 10px;
  }

  &--input {
    outline: none;
    background-color: transparent;
    border: none;
  }

  &--icon {
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
}

.logo {
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
}
