.sidebar {
  position: fixed;
  left: 30px;
  top: 30px;

  &--list {
    margin-top: 12px;
    border-radius: 4px;
    background-color: #333333;
    padding: 8px 0;
    max-height: 80vh;
    overflow-y: overlay;
  }

  &--item {
    display: block;
    padding: 8px 10px;
    color: #fff;
    text-decoration: none;

    &:hover {
      background-color: #414141;
    }
  }
}
.search {
  border-radius: 4px;
  background-color: #333333;
  color: #fff;

  &--input {
    color: #fff;
    outline: none;
    padding: 10px;
    font-size: 14px;
    background-color: transparent;
    border: none;
    min-width: 250px;
  }

  &--icon {
    padding: 10px;
    cursor: pointer;
  }
}

.logo {
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
}
