.search
  input.search--input#js-input(type="text" placeholder="在30,391,231条数据中探索")
  span#js-close-search(class=hasKeyword ? 'search--icon' : 'search--icon t-hidden')
    img(src="../images/close.svg" width="18")
  span.search--icon#js-go-search
    img(src="../images/search.svg" width="18")
