extends ./views/layout.pug
block variables
  - var action = 'index'
  - var hasKeyword = false
block content
  .sidebar
    include ./views/input.pug
  .logo
    img(src="./images/logo.png" width="50%")
