extends ./views/layout.pug
block variables
  - var action = 'search'
  - var className = 't-has-bg'
  - var hasKeyword = true
block content
  .sidebar
    include ./views/input.pug
    .sidebar--list#js-sidebar-item
      p loading....
  svg.draw-container
  include ./views/logo.pug
