extends ./views/layout.pug
block variables
  - var action = 'show'
  - var className = 't-has-bg'
block content
  .sidebar
    .search
      .flex
        span.search--icon#js-go-prev
          img(src="../images/previous.svg" width="18")
        span.search--left.t-title#js-node-id
      span.search--icon
        img(src="../images/search.svg" width="18")
    a.search--icon.sidebar--home(href="/index.html")
      img(src="../images/home.svg" width="18")
    .sidebar--list
      p 一堆杂七杂八的东西
  svg.draw-container
  include ./views/logo.pug
